* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  display: flex;
  gap: 3rem;

  & h2 {
    font-weight: 700;
    color: rgb(141, 185, 20);
  }

  & .card_user {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    max-width: 300px;
    border: thin solid black;
    border-radius: 10px;
    gap: 1rem;

    & img {
      max-width: 100%;
      width: auto;
      border-radius: 50%;
      border: thick solid rgb(166, 199, 17);
    }
  }
}
